* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    line-height: 1.7;
}

li {
    list-style: none;
}

#content {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#content h1 {
    font-size: 24px;
    color: #0088bb;
}

#content .item {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dotted #0088bb;
}

#content .item h2 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #0088bb;
    margin-bottom: 10px;
}

#content li {
    display: inline;
    margin-right: 10px;
}

#content .item li a img {
    width: 230px;
    height: 230px;
    border: none;
}

#menu {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: 410px;
}

#menu ul a {
    display: block;
    font-size: 14px;
    color: #333;
    width: 80px;
    height: 50px;
    border: 1px dotted #0088bb;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
}

#menu ul a:hover,
#menu ul a.current {
    color: #fff;
    background-color: #0088bb;
}