body,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.rating {
    height: 32px;
    width: 160px;
    margin: 100px auto;
}

.rating-item {
    float: left;
    height: 32px;
    width: 32px;
    background: url("../star.png") no-repeat;
    cursor: pointer;
}